.App {
  text-align: center;
}

.main-display {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.display {
  width: 100px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgb(22, 24, 23);
  color: rgb(54, 190, 243);
}

.panel-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.btn-control {
  margin: 0 10px;
}

.btn-type {
  text-transform: capitalize;
  width: 65px;
}
